.pagal {
    background: linear-gradient(rgb(12, 3, 27), rgb(21, 2, 61));
    height: 100vh;
    margin:0;
  }
  
.heading{
    font-size: 26px;
    font-family: cursive;
    font-color:linear-gradient(rgb(82, 167, 8),rgb(47, 112, 47));
}
.para{
    font-stretch: expanded;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}
.profile{
    max-width:45% ;
}
.para-container{
    max-width: 40%;
}
.Gap{
    max-width: 15%;
    width: 15%;
}
